{% extends 'base.html' %}

{% block content %}
<style>
body{
  background-image: url("/media/images/back2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        color:beige
}
</style>
{{block.super}}

<div class="container-fluid text-center landing text-secondary">
<h1 class="mb-4 d-none d-md-block text-center">
  The best way of keeping memories is through images.
</h1>
<p>Search for photos from these categories; <strong>Nature,People and Animals.</strong> </p>
<div>
<a target="_blank" href="{% url 'gallery'%}" class="btn btn-primary">View Gallery</a>
</div>
    <div>

    </div>
</div>


{% endblock %}